@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;700;800&display=swap');

.login-main {
    display: flex;
    width: 100vw;
    height: 100dvh;
    background-color: white;
     
}

.login-left{
    background-color: rgba(245, 246, 250, 1);
    width: 40%;
    padding: 10px 30px 10px 30px;
    position: relative;
}

.login-left img:nth-child(2){
    margin-top: 50px;
    margin-bottom: 30px;
}

.login-left span{
    text-align: center;
}

.login-left p:nth-child(2){
    font-family: "Rubik";
    margin-top: 10px;
}

.login-left p:nth-child(4){
    position: absolute;
    bottom: 20px;
    color: rgba(79, 86, 101, 1);
}

.login-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-right-card{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-family: "Rubik";
    padding: 20px;
}

.login-right-card h1{
    font-size: 2em;
}

.login-right-card p:nth-child(1){
    margin-bottom: 30px;
    font-family: "Rubik";
}

.login-right-card > p > span{
    color: #2161D5 ;
    font-weight: bold;
}

.login-right-card label {
    font-weight: 700;
}

.login-right-card input{
    padding: 20px;
}

.login-right-card span:nth-child(7) {
    display: flex;
    align-items: center;
    text-align: center;
}

.login-right-card span:nth-child(7) p {
    margin-left: 10px;
}

.login-right-card input:nth-child(4){
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid rgba(217, 217, 217, 1);
}

.login-right-card input:nth-child(6){
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid rgba(217, 217, 217, 1);
}

.login-right-card button{
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #2161D5;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


