@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;700;800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Rubik";
}

.top-dashboard{
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-dashboard > p:nth-child(3){
    font-weight: 500;
}

.top-dashboard > p:nth-child(5){
    color: rgba(134, 151, 168, 1);
}

.main-dashboard-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

/* top */

.box-top{
    border-radius: 10px;
    display: flex;
    gap: 30px;   
}

.box-top > div:nth-child(1){
    border-radius: 10px;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.box-top > div:nth-child(2){
    border-radius: 10px;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

/* middle */

.box-middle{
    border-radius: 10px;
    display: flex;
    gap: 30px;
}

.box-middle > div:nth-child(1){
    border-radius: 10px;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.box-middle > div:nth-child(2){
    border-radius: 10px;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.box-middle > div:nth-child(3){
    border-radius: 10px;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

/* bottom */
.box-bottom{
    border-radius: 10px;
    display: flex;
    gap: 30px;
}

.box-bottom > div:nth-child(1){
    border-radius: 10px;
    width: 60%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.box-bottom > div:nth-child(2){
    border-radius: 10px;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

