.footer-main{
    background-color: rgba(248, 248, 248, 1);
    margin-top: 120px;
    padding: 50px;
}

.footer-child{
    width: 75vw;
    margin: auto;
    display: flex;
}

.left-footer{
    width: 100%;
}

.left-footer p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-footer p:nth-child(4) {
    font-weight: 700;
    color: rgba(175, 181, 192, 1);
}

.product{
    width: 40%;
}

.product h2 {
    margin-bottom: 20px;
}

.product p{
    margin-bottom: 10px;
}

.engage{
    width: 40%;
}


.engage h2 {
    margin-bottom: 20px;
}

.engage p{
    margin-bottom: 10px;
}

.money{
    width: 20%;
}


.money h2 {
    margin-bottom: 20px;
}

.money p{
    margin-bottom: 10px;
}